<template name="cardContentItemLabel">
    <span class="card-header-label">
        {{{getCardTypeLabel this.cardType}}}<br>
        {{#if gotDifficulty this.cardType}}
            {{{getDifficultyLabel this.cardType this.difficulty}}}<br>
        {{/if}}
        {{#if isInBonus}}
            {{{getBonusLabel true this.learningEnd}}}<br>
        {{/if}}
        {{#if isBonusTranscriptsRoute}}
            {{{getTranscriptBonusLabel this}}}<br>
            {{> filterIndexItemBottomTranscriptRating}}<br>
            {{> filterIndexItemBottomStarsRating}}
            {{> filterIndexItemBottomAboutThisRating}}
        {{/if}}
        {{{getErrorReportingLabel this._id}}}
    </span>
</template>
