<template name="learnAlgorithmAccess">
    {{#if hasPermission}}
        {{#if gotLeitnerTimerDebugEnabled}}
            {{> mainOverlaysDebugLeitnerItem}}
        {{/if}}
        {{#if isInBonusAndProfileIncomplete}}
            {{> accessDenied}}
        {{else}}
            {{> learningHistoryModal}}
            {{> learnAlgorithms}}
        {{/if}}
    {{else}}
        <h4>{{_ "permission"}}</h4>
    {{/if}}
</template>

<template name="learnAlgorithms">
    {{#if noCards}}
        <div class="hidden-xs hidden-sm container">
            {{> flashcardsEmpty}}
        </div>
        <div class="visible-xs visible-sm">
            {{> flashcardsEmpty}}
        </div>
    {{else}}
        {{#if isFinished}}
            <div class="container">
                {{> flashcardsEnd}}
            </div>
        {{else}}
            {{> pomodoroTimerModal}}
            {{> learnAlgorithmsGamesModal}}
            {{> learnAlgorithmsBackgroundModal}}
            <div class="lockScreenCarouselWrapper hidden">
                <div class="nav-header">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link itemInactive" id="background" data-toggle="tab" href="#backgrounds" role="tab" aria-controls="pills-background" aria-selected="true">Hintergründe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link itemInactive" id="game" data-toggle="tab" href="#games" role="tab" aria-controls="pills-games" aria-selected="false">Spiele</a>
                        </li>
                    </ul>
                </div>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane owl-carousel-tab-list fade " id="backgrounds" role="tabpanel" aria-labelledby="background">{{> learnAlgorithmsBackgroundOverlay}}</div>
                <div class="tab-pane owl-carousel-tab-list fade " id="games" role="tabpanel" aria-labelledby="game"> {{> learnAlgorithmsGamesOverlay}}</div>
            </div>
            </div>
            <div class="col-xs-12 hidden-xs">
                {{> learnAnswerOptions}}
                {{> cardNavigation}}
            </div>
            <div class="col-xs-12">
                {{> flashcards cardset=this}}
            </div>
            <div class="col-xs-12 visible-xs cardNavigationContainer">
                {{> cardNavigation}}
                {{> learnAnswerOptions}}
            </div>
        {{/if}}
    {{/if}}
</template>

<template name="learnAnswerOptions">
    <div class="col-xs-12 answerOptions">
        {{#unless isNavigationVisible}}
            {{#if isQuestionSide}}
                <div id="answerButtons" class="btn-group btn-group-justified">
                    {{#if gotMCQuestion}}
                        {{#if canSubmitMC}}
                            <div class="btn-group btn-bootstrap-container" role="group">
                                <button id="learnSendAnswer"
                                        class="btn btn-success btn-block btn-raised answer send-answer"
                                        title="{{_ "answers.navigation.send"}}" {{isPomodoroBreakActive}}>{{_
                                        "answers.navigation.send"}}
                                    <span class="hidden-xs">( {{_ "key" key='y'}} )</span></button>
                            </div>
                        {{else}}
                            <div class="btn-group btn-bootstrap-container" role="group">
                                <button class="btn btn-default btn-block btn-raised answer"
                                        title="{{_ "answers.navigation.locked"}}" {{isPomodoroBreakActive}} disabled>{{_
                                        "answers.navigation.locked"}}
                                </button>
                            </div>
                        {{/if}}
                    {{else}}
                        <div class="btn-group btn-bootstrap-container" role="group">
                            <button id="learnShowAnswer" class="btn btn-success btn-block btn-raised answer show-answer"
                                    title="{{_ "wozniak.show"}}" {{isPomodoroBreakActive}}>{{_ "wozniak.show"}}
                                <span class="hidden-xs">( {{_ "key" key='y'}} )</span></button>
                        </div>
                    {{/if}}
                    {{#unless gotOneCardLeft}}
                        <div class="btn-group btn-bootstrap-container" role="group">
                            <button href="#" id="skipAnswer"
                                    class="btn btn-danger btn-block btn-raised answer show-answer"
                                    title="{{_ "wozniak.skip"}}" {{isPomodoroBreakActive}}>{{_
                                    "wozniak.skip"}}
                                <span class="hidden-xs">( {{_ "arrowKeys"}} )</span></button>
                        </div>
                    {{/unless}}
                </div>
            {{else}}
                <div id="learn-navigation" class="btn-group btn-group-justified">
                    {{#if isActiveRoute 'box'}}
                        {{#if gotMCQuestion}}
                            <div class="btn-group btn-bootstrap-container" role="group">
                                <button class="btn btn-raised btn-success answer card-success" id="nextMCCard"
                                        title="{{#if gotOneCardLeft}}{{_ "answers.navigation.end"}}{{else}}{{_
                                                "answers.navigation.next"}}{{/if}}" {{isPomodoroBreakActive}}>
                                    {{#if gotOneCardLeft}}{{_ "answers.navigation.end"}}{{else}}{{_
                                            "answers.navigation.next"}}{{/if}}
                                    <span class="hidden-xs">( {{_ "key" key='y'}} )</span></button>
                            </div>
                        {{else}}
                            <div class="btn-group btn-bootstrap-container" role="group">
                                <button class="btn btn-raised btn-warning answer card-fail" id="notknown"
                                        title="{{_ "notknow"}}" {{isPomodoroBreakActive}}>{{_
                                        "notknow"}}
                                    <span class="hidden-xs">( {{_ "key" key='n'}} )</span></button>
                            </div>
                            <div class="btn-group btn-bootstrap-container" role="group">
                                <button class="btn btn-raised btn-success answer card-success" id="known"
                                        title="{{_ "know"}}" {{isPomodoroBreakActive}}>{{_
                                        "know"}}
                                    <span class="hidden-xs">( {{_ "key" key='y'}} )</span></button>
                            </div>
                        {{/if}}
                    {{/if}}
                    {{#if isActiveRoute 'memo'}}
                        <div class="btn-group btn-bootstrap-container">
                            <button id="memoRate0" class="btn btn-warning btn-raised btn-warning rate-answer wrong"
                                    data-id="0"
                                    data-toggle="tooltip" title="{{_ "wozniak.answer.0"}}"><span
                                    class="hidden-xs">{{_
                                    "wozniak.answer.0"}}</span>
                                <span class="visible-xs">{{_ "wozniak.answer.0Mobile"}}</span>
                            </button>
                        </div>
                        <div class="btn-group btn-bootstrap-container">
                            <button id="memoRate1" class="btn btn-default btn-raised rate-answer wrong" data-id="1"
                                    data-toggle="tooltip"
                                    title="{{_ "wozniak.answer.1"}}"><span class="hidden-xs">{{_
                                    "wozniak.answer.1"}}</span>
                                <span class="visible-xs">{{_ "wozniak.answer.1Mobile"}}</span>
                            </button>
                        </div>
                        <div class="btn-group btn-bootstrap-container">
                            <button id="memoRate2" class="btn btn-default btn-raised rate-answer" data-id="2"
                                    data-toggle="tooltip"
                                    title="{{_ "wozniak.answer.2"}}"><span class="hidden-xs">{{_
                                    "wozniak.answer.2"}}</span>
                                <span class="visible-xs">{{_ "wozniak.answer.2Mobile"}}</span>
                            </button>
                        </div>
                        <div class="btn-group btn-bootstrap-container">
                            <button id="memoRate3" class="btn btn-default btn-raised rate-answer" data-id="3"
                                    data-toggle="tooltip"
                                    title="{{_ "wozniak.answer.3"}}"><span class="hidden-xs">{{_
                                    "wozniak.answer.3"}}</span>
                                <span class="visible-xs">{{_ "wozniak.answer.3Mobile"}}</span>
                            </button>
                        </div>
                        <div class="btn-group btn-bootstrap-container">
                            <button id="memoRate4" class="btn btn-default btn-raised rate-answer" data-id="4"
                                    data-toggle="tooltip"
                                    title="{{_ "wozniak.answer.4"}}"><span class="hidden-xs">{{_
                                    "wozniak.answer.4"}}</span>
                                <span class="visible-xs">{{_ "wozniak.answer.4Mobile"}}</span>
                            </button>
                        </div>
                        <div class="btn-group btn-bootstrap-container">
                            <button id="memoRate5" class="btn btn-default btn-raised btn-success rate-answer"
                                    data-id="5"
                                    data-toggle="tooltip"
                                    title="{{_ "wozniak.answer.5"}}"><span class="hidden-xs">{{_
                                    "wozniak.answer.5"}}</span>
                                <span class="visible-xs">{{_ "wozniak.answer.5Mobile"}}</span>
                            </button>
                        </div>
                    {{/if}}
                </div>
            {{/if}}
        {{else}}
            <div class="btn-group btn-group-raised btn-group-justified disabledAnswer">
                <a rel="noopener noreferrer" href="#" class="btn btn-raised answer show-answer">&nbsp;</a>
            </div>
        {{/unless}}
    </div>
</template>

<template name="learnBackButton">
    <br>
    <button class="btn btn-raised btn-danger" id="backButton">
        <span class="pull-left"><span class="fas fa-arrow-left"></span> {{_ "backbuttonWorkload"}}</span>
    </button>
</template>
